.vs/
.idea/
.vscode/
**/bin/
**/obj/
artifacts/
TestResults/
*.user
*.suo
*.nupkg
*.snupkg
*.appx
*.appxbundle
*.msix
*.msixbundle
*.cer
*.pfx
*.p12
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3
*.bak
*.tmp
*.log
src/TimeTrek.App/AppPackages/
src/TimeTrek.App/BundleArtifacts/
/release/
